# Frontend API Base URL (leave blank for localhost:5000 in dev)
VITE_API_BASE_URL=https://intellimail-h9mx.onrender.com/api

# Frontend Socket.IO Base URL (leave blank for localhost:5000 in dev)
VITE_SOCKET_URL=https://intellimail-h9mx.onrender.com
